# import libraries

In [3]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# import data

In [4]:
housing_df=pd.read_csv("USA_Housing.csv")

In [6]:
housing_df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [12]:
housing_df_describe=housing_df.describe()

In [13]:
housing_df_describe

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In [11]:
housing_info=housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [10]:
housing_df.tail()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06,USNS Williams\nFPO AP 30153-7653
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06,"PSC 9258, Box 8489\nAPO AA 42991-3352"
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06,"4215 Tracy Garden Suite 076\nJoshualand, VA 01..."
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06,USS Wallace\nFPO AE 73316
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06,"37778 George Ridges Apt. 509\nEast Holly, NV 2..."

In [14]:
housing_df.iloc[4]

Avg. Area Income                              59982.197226
Avg. Area House Age                               5.040555
Avg. Area Number of Rooms                         7.839388
Avg. Area Number of Bedrooms                          4.23
Area Population                               26354.109472
Price                                        630943.489339
Address                         USNS Raymond\nFPO AE 09386
Name: 4, dtype: object

In [15]:
housing_df.iloc[2:4]

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820

In [16]:
housing_df.isnull().sum()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
Address                         0
dtype: int64

In [17]:
housing_df.isnull()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False
4997,False,False,False,False,False,False,False
4998,False,False,False,False,False,False,False
4999,False,False,False,False,False,False,False

In [18]:
housing_df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [49]:
housing_df.rename(columns=
    {"Avg. Area Income":"avg_area_income",
    "Avg. Area House Age":"avg_area_house_age",
    "Avg. Area Number of Rooms":"avg_area_no_of_rooms'",
    "Avg. Area Number of Bedrooms":"avg_area_no_of_bedrooms",
    "Area Population":"area_population",
     "Price":"price",
     "Address":"address"
    }, inplace = True)

In [36]:
def check_category(df):
    return pd.Series({c: df.select_dtypes("object")[c].nunique() for c in df.select_dtypes("object")})

In [37]:
check_category(housing_df)

Address    5000
dtype: int64

# Splitting into target and feature

In [53]:
target = "price"
X = housing_df.drop(columns = ["address",target])
y = housing_df[target]

In [68]:
X.head()

,avg_area_income,avg_area_house_age,avg_area_no_of_rooms',avg_area_no_of_bedrooms,area_population
0,79545.458574,5.682861,7.009188,4.09,23086.800503
1,79248.642455,6.002900,6.730821,3.09,40173.072174
2,61287.067179,5.865890,8.512727,5.13,36882.159400
3,63345.240046,7.188236,5.586729,3.26,34310.242831
4,59982.197226,5.040555,7.839388,4.23,26354.109472

In [55]:
y.head()

0    1.059034e+06
1    1.505891e+06
2    1.058988e+06
3    1.260617e+06
4    6.309435e+05
Name: price, dtype: float64

# splitting into tain and test set

In [57]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.8,random_state=42)

# Linear Regression

In [58]:
#trainning
lr_model=LinearRegression()

In [59]:
#fit
lr_model.fit(X_train,y_train)

LinearRegression()

In [60]:
#prediction
lr_prediction = lr_model.predict(X_test)

In [61]:
data_dict = {
    "prediction": lr_prediction,
    "actual_value": y_test,
    "residual": y_test - lr_prediction
}

In [62]:
Residual_df = pd.DataFrame(data_dict)

In [64]:
Residual_df.head()

        prediction  actual_value       residual
789   8.063344e+05  8.008091e+05   -5525.231595
2507  1.567724e+06  1.620949e+06   53225.441496
2376  1.320993e+06  1.219637e+06 -101355.201021
1378  1.188970e+06  1.172133e+06  -16836.068290
598   9.633755e+05  8.644838e+05  -98891.737290

In [65]:
housing_df.head()

,avg_area_income,avg_area_house_age,avg_area_no_of_rooms',avg_area_no_of_bedrooms,area_population,price,address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [67]:
def make_prediction(avg_area_income, avg_area_house_age, avg_area_no_of_rooms, avg_area_no_of_bedrooms, area_population):
    data = {
        'avg_area_income':avg_area_income , 
        'avg_area_house_age':avg_area_house_age, 
        'avg_area_no_of_rooms':avg_area_no_of_rooms,
       'avg_area_no_of_bedrooms':avg_area_no_of_bedrooms, 
        'area_population':area_population
    }
    df = pd.DataFrame(data, index=[0])
    prediction = lr_model.predict(df).round(2)[0]
    return f"Predicted house price: ${prediction}"

In [70]:
make_prediction(59982.197226, 5.040555,  7.839388, 4.23, 26354.109472)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- avg_area_no_of_rooms
Feature names seen at fit time, yet now missing:
- avg_area_no_of_rooms'

  warnings.warn(message, FutureWarning)

'Predicted house price: $836048.87'

In [69]:
housing_df.iloc[4]

avg_area_income                          59982.197226
avg_area_house_age                           5.040555
avg_area_no_of_rooms'                        7.839388
avg_area_no_of_bedrooms                          4.23
area_population                          26354.109472
price                                   630943.489339
address                    USNS Raymond\nFPO AE 09386
Name: 4, dtype: object